@page "/Person/Detail/{id}"
@inject IPersonService PersonService

<div class="col-md-12">
    <p>
        <div class="row">
            <div class="col-md-6 text-left">
                <NavLink class="btn btn-secondary" href="@("/Person")">Back</NavLink>
            </div>
        </div>
    </p>
</div>

<div class="card">
    <div class="card-header">
        <h3>Person Detail</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
    </ul>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    public PersonModel Person { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Person = await PersonService.GetPersonById(Id);
    }
}
