@page "/"

<h1>Microservice Development</h1>

<p>This application enables a user to view, update, and delete soldier's data and demographic information.</p>
<p>
    Code repository: <a href="https://github.com/TPicc2707/MicroservicesDevelopment/tree/main/src" target="_blank">https://github.com/TPicc2707/MicroservicesDevelopment/tree/main/src</a>
</p>
<p><b>Development architecture:</b>
    <ul>
        <li>Domain Driven Design</li>
        <li>Command and Query Responsibility Segregation</li>
        <li>Containerization</li>
        <li>Messanger Services</li>
        <li>Front-end design</li>
    </ul>
</p>
<p>
    <b>Development services:</b>
    <ul>
        <li>.Net Core 5</li>
        <li>ASP.NET API (C#)</li>
        <li>Automapper</li>
        <li>Blazor Web Assembly</li>
        <li>Docker</li>
        <li>MassTransit</li>
        <li>MediatR</li>
        <li>Portainer</li>
            <ul>
                <li>Link: <a href="http://localhost:9000/#!/auth" target="_blank">http://localhost:9000/#!/auth</a></li>
            </ul>
        <li>RabbitMQ</li>
            <ul>
                <li>Link: <a href="http://localhost:15672/#/" target="_blank">http://localhost:15672/#/</a></li>
            </ul>
        <li>Redis</li>
        <li>SQL Server</li>
        <li>Swagger</li>
            <ul>
                <li>PersonAPI Link: <a href="http://localhost:8000/swagger/index.html" target="_blank">http://localhost:8000/swagger/index.html</a></li>
                <li>AddressAPI Link: <a href="http://localhost:8001/swagger/index.html" target="_blank">http://localhost:8001/swagger/index.html</a></li>
            </ul>
    </ul>
</p>
